li span{font-weight:bold;}
li{list-style:none;}
.text{font-style:italic;}
.contain{
	width:310px;
	border:5px solid green;
	display:flex;
	flex-wrap:wrap;
	margin:10px;
}
.head{width:300px;
	border:5px solid blue;
	text-align: center;
margin: 10px;}
.image{width:195px;
	height:263px;
border:4px solid black;
}
.info{width:385px;
	height:240px;
border:4px solid black;
margin:10px;
}
.image{margin:3px;
border:1px solid black;
width:290px;
height: 200px}